//====================================================================================================
.footer {
    background-color: rgba(0, 0, 0, 0.9);
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100px;
    }

    &__text {
        letter-spacing: normal;
        text-align: center;
        align-items: center;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 700;
        line-height: 20px;
    }
}

//====================================================================================================
